
# Ambiente
ENV=dev
AWS_REGION=us-east-1
SAGEMAKER_EXECUTION_ROLE_ARN=arn:aws:iam::123456789012:role/sagemaker-exec-role
DATABASE_URL=postgresql+psycopg2://user:pass@host:5432/boi_gordo
S3_BUCKET=boi-gordo-data-dev
MODEL_ENDPOINT_NAME=boi-gordo-staging
POWERBI_WORKSPACE_ID=your_workspace
POWERBI_DATASET_ID=your_dataset
